@import url("../theme/css/bootstrap.css");
@import url("../theme/css/animate.min.css");
@import url("../theme/css/swiper-bundle.min.css");
@import url("../theme/css/sib-styles.css");
@import url("../theme/css/styles.css");
@import url("../theme/icons/icomoon/style.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display), serif;
}
